h1 {
  color: #0D2C54
}

body {
  background: #93827F;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #0D2C54;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;


}

.message-content {
  flex: 8;
  background-color: #8DA9C4;
  border-radius: 0px 1em 1em 1em;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #0D2C54;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: #C5C5C5;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;

}
